.title {
  font-family: 'ubuntu', sans-serif;
  font-size: 46px;
  font-weight: 700;
  margin: 10px 0;
}

.subtitle {
  font-family: 'ubuntu', sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin: 10px 0;
}

.body {
  font-family: 'ubuntu', sans-serif;
  font-size: 21px;
  font-weight: 400;
}

.tag {
  font-family: 'ubuntu', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}