@import '../../scss/globals';

.title {
  font-family: $open-sans;
  font-size: 46px;
  font-weight: $bold;
  margin: 10px 0;
}

.subtitle {
  font-family: $open-sans;
  font-size: 32px;
  font-weight: $bold;
  margin: 10px 0;
}

.body {
  font-family: $open-sans;
  font-size: 21px;
  font-weight: $normal;
}

.tag {
  font-family: $open-sans;
  font-size: 12px;
  font-weight: $normal;
  text-transform: uppercase;
}